[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GWpcor"]
	path = GWpcor
	url = https://github.com/gwpcor/gwpcor
[submodule "gwpcormapper"]
	path = gwpcormapper
	url = https://github.com/gwpcor/gwpcormapper
